##imports
import(
stats,
utils,
graphics,
grDevices,
qtl,
ggplot2)

##[exports]
export(
cross2int,
fineMap,
fixMap,
getQTL,
linkMap,
linkMap.cross,
linkMap.default,
linkMap.wgaim,
outStat,
print.wgaim,
tr.wgaim,
qtlSelect,
qtlTable,
summary.wgaim,
wgaim,
wgaim.asreml,
wgaim.default,
QTLAim,
QTLAim.asreml,
QTLAim.default,
print.QTLAim,
summary.QTLAim,
tr.QTLAim,
linkMap.QTLAim)

##[S3 Methods]
S3method(summary, wgaim)
S3method(print, wgaim)
S3method(linkMap, wgaim)
S3method(tr, wgaim)
S3method(linkMap, cross)
S3method(linkMap, default)
S3method(wgaim, asreml)
S3method(wgaim, default)
S3method(QTLAim, asreml)
S3method(QTLAim, default)
S3method(summary, QTLAim)
S3method(print, QTLAim)
S3method(linkMap, QTLAim)
S3method(tr, QTLAim)

